<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.Geetha.springApplication01.ElectricityBean" id="elcObj">
        <property name="ConsumerId" value="12" />
        <property name="ConsumerName" value="Geetha" />
        <property name="currentReading" value="500" />
        <property name="previousReading" value="50" />
    </bean>
    
</beans>